@font-face {
    font-family: 'Co Headline W';
    src: url('CoHeadlineW-Regular.woff2') format('woff2'),
        url('CoHeadlineW-Regular.woff') format('woff'),
        url('CoHeadlineW-Regular.svg#CoHeadlineW-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Co Headline W';
}
header{
    border-bottom: 0.5px solid #00000043;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
    overflow-x: hidden;
}
nav .nav-logo>img{
    width: 200px;
}
nav .nav-text>ul,
nav .nav-user>ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
nav .nav-text>ul li a{
    padding: 5px;
    text-decoration: none;
    color: #000;
}
nav .nav-user>ul li a{
    padding: 10px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    background-color: #fff;
    transition: 0.3s;
}
nav .nav-user>ul li a:hover{
    background-color: #000;
}
nav .nav-user>ul li a img{
    width: 20px;
}
nav .nav-user>ul li a:hover img{
    filter: invert(1);
}
nav .nav-bars{
    display: none;
}
.offcanvas{
    display: none;
}
.category{
    width: 100%;
}
.category-header{
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.category-header img{
    width: 20px;
    filter: invert(1);
    margin-left: 10px;
    transform: rotate(180deg);
    transition: 0.2s;
}
.category-body{
    width: 100%;
    height: 0;
    transition: 0.3s ease-out;
    opacity: 0;
    background-color: #000;
}
.category-body>ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.category-body>ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 19px 20px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}
.category-body>ul li a:hover{
    background-color: #000;
    color: #fff;
}
.category-body>ul li a img{
    width: 20px;
    margin-left: 5px;
    filter: invert(1);
    transition: 0.5s;
}
.best-seller{
    padding: 20px;
    width: 100%;
}
.best-container{
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.best-container>.item{
    width: 18%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.best-container>.item .item-img{
    width: 100%;
    height: 30vh;
    padding: 10px;
    display: grid;
    place-content: center;
    position: relative;
    overflow: hidden;
}
.best-container>.item .item-img .item-like{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: -55px;
    background-color: #fff;
    z-index: 10;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}
.best-container>.item:hover .item-img .item-like{
    right: 20px;
}
.best-container>.item .item-img .item-like:hover{
    background-color: #000;
}
.best-container>.item .item-img .item-add{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    transform: translateY(50px);
    transition: 0.2s;
}
.best-container>.item .item-img .item-add a{
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 15px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.best-container>.item:hover .item-img .item-add{
    transform: translateY(0);
}
.best-container>.item .item-img .item-like:hover a img{
    filter: invert(1);
}
.best-container>.item .item-img .item-like a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.best-container>.item .item-img .item-like a img{
    width: 50%;
}
.best-container>.item .item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.best-container>.item .item-text{
    padding: 25px;
}
.best-container>.item .item-text .item-star{
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 5px;
    gap: 3px;
}
.best-container>.item .item-text .item-star img{
    width: 20px;
}
.item-price{
    font-size: 20px;
    color: red;
    margin-bottom: 10px;
    font-weight: 500;
}
.sale-off{
    color: gray;
    font-weight: 400;
    text-decoration:line-through;
    margin-left: 10px;
}
    
.best-container>.item .item-text h3{
    margin-bottom: 5px;
}
.best-container>.item .item-text a{
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #EA6D34;
    color: #fff;
    display: inline-block;
}
.overview{
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 20px;
}
.overview-header{
    padding: 20px;
}
.overview .left-view,
.overview .right-view{
    width: 50%;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}
.overview .left-view img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.8s;
}
.overview .right-view .view-item{
    width: 100%;
    height: 45vh;
    position: relative;
    display: flex;
    overflow: hidden;
}
.overview .right-view .view-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s;
}
.view-text{
    position: relative;
    z-index: 99;
    padding: 40px;
}
.view-text h1{
    font-size: 4rem;
    margin-bottom: 15px;
    transition: 0.5s;
}
.view-text p{
    font-size: 25px;
    
}
.view-text a{
    margin-top: 15px;
    color: #000;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid #EA6D34;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;
}
.view-3 h1,.view-3 p,.view-3 a{
    color: #fff;
}
.overview .left-view:hover img{
    scale: 1.1;
}
.overview .left-view:hover h1{
    color: #EA6D34;
}.overview .left-view a:hover {
    color: #EA6D34;
    background-color: #000;
    padding: 10px;
}
.overview .right-view .view-item:hover img{
    scale: 1.1;
}
.overview .right-view .view-item:hover h1{
    color: #EA6D34;
}
.overview .right-view .view-item a:hover{
    color: #EA6D34;
    background-color: #000;
    padding: 10px;
}
.product{
    width: 100%;
    padding: 20px;
}
.product .more{
    width: 100%;
    padding: 20px;
    text-align: center;
}
.product .more>a{
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
}
.overview-2{
    width: 100%;
    padding-right: 20px;
}
.overview-2 .view-2{
    width: 100%;
    height: 70vh;
    padding: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.overview-2 .view-2 img{
    position: absolute;
    width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: contain;
    transform: translateX(-100px);
}
.over2-text{
    width: 40%;
    padding: 20px;
}
.over2-text h1{
    margin-bottom: 20px;
}
.special{
    padding: 20px;
}
.special-offer{
    width: 100%;
    padding: 20px;
    display: flex;
}
.special-offer .offer-img{
    width: 500px;
    height: 70vh;
}
.special-offer .offer-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.special-offer .offer-text{
    width: 60%;
    padding-left: 30px;
}
.offer-text .stars{
    display: flex;
    align-items: center;
}
.offer-text .stars img{
    width: 20px;
    margin: 3px;
}
.special-offer .offer-text h1{
    display: flex;
    align-items: center;
    margin:  20px 0;
}
.special-offer .offer-text h1 span img{
    width: 40px;
}
.special-offer .offer-text h1 span{
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.special-offer .offer-text p{
    font-size: 2em;
}
.vision-price{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #F7F7F7;
}
.vision-price span{
    font-size: 20px;
    font-weight: 300;
}
.vision-price span:nth-child(1){
    color: #DC4746;
    font-weight: 600;
}
.offer-text a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin: 15px 0;
    font-size: 20px;
    background-color: #EA6D34;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.offer-text a:hover{
    background-color: #F7F7F7;
    color: #EA6D34;
}
.services{
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}
.service-item{
    width: 25%;
    padding: 10px;
    text-align: center;
}
.service-item .service-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-item .service-img img{
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}
.service-item .service-text h3{
    margin-bottom: 15px;
}
footer{
    width: 100%;
    padding: 100px 20px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 20px;
}
footer .item-1{
    width: 60%;
    display: flex;
    align-items: center;
    gap: 10px;
}
footer .item-2{
    width: 40%;
    display: flex;
    flex-direction: column;
}
footer .item-1>.footer-logo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
footer .item-1>.footer-logo img{
    width: 170px;
}
footer .item-1>.footer-logo span{
    color: #f7f7f7c6;
    margin: 10px 0px;
}
footer .item-1>.footer-logo .call{
    font-size: 30px;
    color: #fff;
}
footer .item-1> .footer-company{
    display: flex;
    align-items: center;
    gap: 25px;
}
footer .item-1> .footer-company>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
footer .item-1> .footer-company>div span{
    margin: 10px 0;
    color: #f7f7f7c6;
    white-space: nowrap;
}
footer .item-1> .footer-company>div span:nth-child(1){
    color: #fff;
}
footer .item-2 span{
    font-size: 16px;
    margin: 10px 0;
    color: #f7f7f7c6;
}
footer .item-2 span:nth-child(1){
    color: #fff;
    font-size: 20px;
}
.send{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
.send input{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.send input:focus{
    outline: none;
}
.send button{
    padding: 10px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: none;
    cursor: pointer;
}